<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">
    $(function () {
        var chart,
            pointLimit = 20;

        var requestData = function() {
            $.getJSON('/json', function(data) {
                var time = (new Date()).getTime();

                $.each(['total', 'success', 'fail'], function(k, v){
                    chart.series[k].addPoint([time, data[v] || 0], true, chart.series[k].data.length > pointLimit);
                });

                setTimeout(requestData, 1000);
            });
        };

        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        chart = new Highcharts.Chart({
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                renderTo: 'container',
                events: {
                    load: requestData
                }
            },
            title: {
                text: 'Live request data'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                            Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
                            Highcharts.numberFormat(this.y, 2);
                }
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'Total',
                data: []
            },{
                name: 'Success',
                data: []
            },{
                name: 'Fail',
                data: []
            }]
        });
    });
</script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
